#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.mock-messenger{
  display: flex;
}

.friend-list-panel{
  display: flex;
  flex-direction: column;
}

.chat-panel{
  display: flex;
  flex-direction: column;
}
